<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="info">
    <Properties>
        <Property name="layout">%d [%t] %5-level %logger -%m%n</Property>
    </Properties>
    <Appenders>
        <Console name ="console" target="SYSTEM.OUT"/>
        <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
        <RollingFile name="RollingFile" filename="./Logs/${date:yYYY-MM-dd-dd_HH-mm-ss}.Log" filepattern="$(logPath}/%d(YYYYMMddHHmmss}-fargo.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
